.container {
  width: 90vw;
  background-color: rgb(38, 81, 119);
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pokemonCards {
  width: 22%;
  height: 600px;
  background-color: rgb(7, 38, 63);
  margin: 10px;
  border-radius: 20px;
  align-items: center;
}

.title__website {
  font-size: 10rem;
  font-weight: 150;
  background-color: rgb(5, 29, 49);
  margin: 5rem auto;
}
