:root {
  --light-white: #fffdfd;
  --dark-white: #e9e5e5;
  --light-black: #353232;
  --dark-black: #242424;

  /* Intentions */
  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.light {
  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.dark {
  --primary: var(--dark-black);
  --secondary: var(--light-black);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}

body {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  background-color: var(--primary);
  color: var(--secondary);
  align-items: center;
}

.container {
  width: 90vw;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.card {
  width: 22%;
  height: 700px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px;
}

h1 {
  font-size: 10rem;
  font-weight: 125;
  color: var(--secondary);
  text-align: center;
}

.img {
  width: 100%;
  border-radius: 1.2rem;
}

.card_name {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.card_series {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.card_origin {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.btn {
  padding: 0.7rem 1.4rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  background-color: var(--secondary);
  color: var(--primary);
  font-size: 1rem;
  font-weight: 1;
  font-family: "Palette Mosaic", system-ui;
}

.btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
