:root {
  --light-white: #fdfcf9;
  --dark-white: #f0ede9;
  --light-black: #202020;
  --dark-black: #161616;

  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.light {
  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.dark {
  --primary: var(--dark-black);
  --secondary: var(--light-black);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}

body {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  background-color: var(--primary);
  color: var(--secondary);
  align-items: center;
}

.container {
  width: 90vw;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.card {
  width: 22%;
  height: fit-content;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px;
}

h1 {
  font-size: 10rem;
  font-weight: 125;
  color: var(--secondary);
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  font-weight: 125;
  color: var(--secondary);
}

.img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 1.2rem;
}

.card_name {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.card_series {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.card_origin {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

button {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Palette Mosaic", system-ui;
  margin-bottom: 1rem;
}

button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

input {
  padding: 0.8rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-family: "Palette Mosaic", system-ui;
}

.haveBtn,
.wantBtn {
  background-color: var(--secondary);
  font-family: "Palette Mosaic", system-ui;
  border-radius: 5px;
  display: block;
  margin: 6px auto;
}

.haveBtn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.wantBtn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: 8rem;
  font-weight: 125;
  color: var(--secondary);
  text-align: center;
  font-family: "Palette Mosaic", system-ui;
}

.search input {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: "Palette Mosaic", system-ui;
}

.searchBar {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  font-family: "Palette Mosaic", system-ui;
}

::placeholder {
  color: var(---primary);
  opacity: 0.6;
  font-family: "Palette Mosaic", system-ui;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
