:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container {
  width: 90vw;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 22%;
  height: 700px;
  background-color: #2c2929;
  margin: 10px;
  color: #ffffff;
  border-radius: 20px;
  align-items: center;
}
.img {
  width: 100%;
  border-radius: 1.2rem;
}
.title {
  font-size: 10rem;
  font-weight: 150;
  background-color: rgb(38, 81, 119);
  margin: 5rem auto;
}
.purchase__product {
  font-size: 1.5rem;
  background-color: rgb(255, 241, 163);
  color: rgb(38, 81, 119);
  font-family: "Palette Mosaic", system-ui;
  padding: 3px;
  text-align: center;
  float: center;
  padding: 10px;
  line-height: 1rem;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  border-radius: 1rem;
  border-color: rgb(38, 81, 119);
  align-items: center;
}
.purchase__product button:hover {
  background-color: rgb(255, 235, 123);
}
.filter button {
  font-size: 1.5rem;
  background-color: rgb(255, 241, 163);
  color: rgb(38, 81, 119);
  font-family: "Palette Mosaic", system-ui;
  padding: 10px;
  line-height: 1rem;
  margin: 15px 15px 0 0;
  border-radius: 1rem;
  border: 1px solid rgb(38, 81, 119);
  cursor: pointer;
  transition: 0.3s;
}

.filter button:hover {
  background-color: rgb(255, 235, 123);
}
