/* :root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
 */
:root {
  --light-white: #ffffff;
  --dark-white: #f5f5f5;
  --light-black: #2c2929;
  --dark-black: #242424;

  /* Intentions */
  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.light {
  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.dark {
  --primary: var(--light-black);
  --secondary: var(--dark-black);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}

body {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  background-color: var(--primary);
  color: var(--secondary);
  align-items: center;
}

.container {
  width: 90vw;
  margin: 2.5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: var(--secondary);
}

.card {
  width: 22%;
  height: 700px;
  background-color: var(--secondary);
  margin: 10px;
  color: var(--primary);
  border-radius: 20px;
  align-items: center;
}

h1 {
  font-size: 10rem;
  font-weight: 125;
  color: var(--secondary);
  align-items: center;
}

.img {
  width: 100%;
  border-radius: 1.2rem;
}

.card_name {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  align-items: center;
}

.card_series {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  align-items: center;
}

.card_origin {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  align-items: center;
}
/* 
.filter button {
  font-size: 1.5rem;
  font-weight: 100;
  background-color: #2c2929;
  color: rgb(255, 255, 255);
  font-family: "Palette Mosaic", system-ui;
  padding: 10px;
  line-height: 1rem;
  margin: 15px 15px 0 0;
  border-radius: 1rem;
  border: 1px solid #2c2929;
  cursor: pointer;
  transition: 0.3s;
}

.filter button:hover {
  background-color: #2c2929;
}
 */
