:root {
  --light-white: #fffdfd;
  --dark-white: #e9e5e5;
  --light-black: #353232;
  --dark-black: #242424;

  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.light {
  --primary: var(--dark-white);
  --secondary: var(--light-white);
}

.dark {
  --primary: var(--dark-black);
  --secondary: var(--light-black);
}

.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}

body {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  background-color: var(--primary);
  color: var(--secondary);
  align-items: center;
}

.container {
  width: 90vw;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.card {
  width: 25%;
  height: 700px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px;
}

.h1 {
  font-size: 20rem;
  font-weight: 125;
  color: var(--secondary);
  text-align: center;
}

.img {
  width: 100%;
  border-radius: 20px;
}

.card_name {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.card_series {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

.card_origin {
  font-size: 1.25rem;
  font-weight: 100;
  margin-top: 1rem;
  color: var(--primary);
  text-align: center;
}

button {
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  background-color: var(--secondary);
  color: var(--primary);
  font-size: 1rem;
  font-family: "Palette Mosaic", system-ui;
}

button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

input {
  border-radius: 10px;
  font-family: "Palette Mosaic", system-ui;
  border: none;
  outline: none;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 0.8rem;
}

.haveBtn {
  background-color: var(--secondary);
  font-family: "Palette Mosaic", system-ui;
  border-radius: 5px;
}

.haveBtn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.wantBtn {
  background-color: var(--secondary);
  font-family: "Palette Mosaic", system-ui;
  border-radius: 5px;
}

.wantBtn:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: 4rem;
  font-weight: 125;
  color: var(--secondary);
  text-align: center;
  font-family: "Palette Mosaic", system-ui;
}

.search {
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-right: 1rem;
  font-family: "Palette Mosaic", system-ui;
}

.searchBar {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  margin-right: 1rem;
  font-family: "Palette Mosaic", system-ui;
}
